{% extends 'base.html' %}

{% block content %}

hola al blog list 
<br>  
{%for post in posts%}
<a href=" {% url 'blog:detail' post.id%}">{{post.title}}</a>
<a href= "{% url 'blog:update' post.id%}"> update </a>
<a href= "{% url 'blog:delete' post.id%}"> Borrar </a>
{%endfor%}

<br>
<a class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2" href= "{% url 'blog:create' %}"> crear </a>

{% endblock content %}


